body{
  background: linear-gradient(45deg,#380036,#0cbaba);
}
h1{
  text-align: center;
  font-size: 50px;
color: #04009a;
}
.container{
  width: 400px;
  height: 450px;
  margin: 50px auto 130px;
  border-radius: 20px;
  background: linear-gradient(45deg,white,black);
  box-shadow: 10px 10px 20px #b6a9a9,-10px -10px 20px #ffffff;
}

.cal-box{
  width: 200px;
  margin: 20px auto;
}
@media screen and (max-width:450px){
  .cal-boc{
    width: auto;
  }
}

#display{
  border: none;
  outline: none;
  color: black;
  font-weight: bold;
  padding: 15px;
  margin: 50px 0 20px 0;
  border-radius: 10px;
  background: #f8f5f1;
  box-shadow: inset 2px 2px 5px #f8a488,inset -5px -5px 10px #ffffff;
}
.button{
  margin: 15px 0 0 5px;
  width: 42px;
  height: 42px;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 5px 5px 10px #b6acac,-5px 5px 10px #faf4f4;
display: inline-block;
}


.button:active{
  box-shadow: inset 1px 1px 2px #babeec,inset -1px -1px 2px #ffffff
}
.clearButton{
  background: yellow;
}
.mathbutton{
  background: black;
  color: white;
}
